<section class="about" id="about">
  <div class="container">
    <h2 class="about-header">Чому Хатинка Лапок</h2>
    <div class="swiper-about mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide .swiper-slide-about">
          <div class="swiper-block swiper-block1">
            <div class="text swiper-card-text" data-swiper-parallax="-100">
              <p>
                Все почалося у 2015 році з кількох небайдужих людей та одного
                врятованого собаки. Сьогодні ми — один з найбільших притулків у
                регіоні, але наша мета незмінна: дати другий шанс тим, кого
                зрадили.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-block swiper-block2">
            <div class="text swiper-card-text" data-swiper-parallax="-100">
              <p>
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
                безпритульних тварин. Наша мета — не просто дати прихисток, а й
                забезпечити кожному "хвостику" щасливе та повноцінне життя в
                новій родині.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-block swiper-block3">
            <div class="text swiper-card-text" data-swiper-parallax="-100">
              <p>
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів
                та десятків волонтерів, які щодня вкладають свою душу та час у
                турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
                залежить від нас.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-block swiper-block4">
            <div class="text swiper-card-text" data-swiper-parallax="-100">
              <p>
                Ми створили безпечний та комфортний простір. Кожна тварина
                отримує якісне харчування, своєчасну ветеринарну допомогу,
                проходить соціалізацію та гуляє на спеціально обладнаних
                майданчиках.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-block swiper-block5">
            <div class="text swiper-card-text" data-swiper-parallax="-100">
              <p>
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
                волонтером, допомогти фінансово або інформаційно. Кожен
                маленький внесок наближає нас до великої мети — світу без
                безпритульних тварин.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-elements-wrapper">
      <div class="swiper-pagination swiper-about-pagination"></div>
      <div class="swiper-arrow-wrapper">
        <div class="swiper-button-prev swiper-about-button-prev">
          <svg width="24" height="24">
            <use href="/icons.svg#icon-arrow_back"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-about-button-next">
          <svg width="24" height="24">
            <use href="/icons.svg#icon-arrow_forward"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
