<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <a href="#">
      <svg class="footer-img-logo" aria-label="logo">
        <use href="/company-logo.svg"></use>
      </svg>
      </a>
    </div>

    <nav class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a href="#about" class="nav-link footer-menu-link">Про нас</a>
        </li>
        <li class="footer-menu-item">
          <a href="#pets-list" class="nav-link footer-menu-link"
            >Знайти друга</a
          >
        </li>
        <li class="footer-menu-item">
          <a href="#question" class="nav-link footer-menu-link"
            >Часті запитання</a
          >
        </li>
        <li class="footer-menu-item">
          <a href="#stories" class="nav-link footer-menu-link"
            >Історії успіху</a
          >
        </li>
      </ul>
    </nav>

    <ul class="social-list">
      <li class="social-item">
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
          <svg class="icon-fb" width="32" height="32" aria-label="facebook">
            <use href="./svg/icons.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
          <svg class="icon-ing" width="32" height="32" aria-label="instagram">
            <use href="./svg/icons.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="line-footer"></div>
  <p class="footer-text">© 2025 Хатинка лапок. Всі права захищені.</p>
</footer>
