<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <svg class="footer-logo" width="302" height="129" aria-label="logo">
        <use href="../public/Company Logo.svg"></use>
      </svg>
    </div>

    <nav class="footer-menu">
      <ul class="footer-menu-list">
        <li class="footer-menu-item">
          <a href="" class="footer-menu-link">Про нас</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-link">Знайти друга</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-link">Часті запитання</a>
        </li>
        <li class="footer-menu-item">
          <a href="" class="footer-menu-link">Історії успіху</a>
        </li>
      </ul>
    </nav> 

    <ul class="social-list">
      <li class="social-item">
        <svg class="icon-fb" width="32" height="32" aria-label="facebook">
        <use href="../svg/icons.svg#icon-Facebook"></use>
      </svg>
    </li>
      <li class="social-item">
        <svg class="icon-ing" width="32" height="32" aria-label="instagram">
        <use href="../svg/icons.svg#icon-Instagram"></use>
      </svg></li>
    </ul>
  </div>
  <div class="line-footer"></div>
  <p class="footer-text">© 2025 Хатинка лапок. Всі права захищені.</p>
</footer>
