<section class="modal-detail hide-modal">
  <div class="container">
    <div class="modal-detail-card">
      <div class="modal-detail-icon-close">
        <svg class="detail-icon-close" width="24" height="24">
          <use href="/icons.svg#icon-close"></use>
        </svg>
      </div>
      <div class="detail-content">
        <div class="detail-image-wrapper">
          <div class="image-tamplete"></div>
        </div>
        <div class="detail-descr-wrapper">
          <div class="detail-descr-title">
            <p>собака</p>
            <h1>Джек</h1>
            <p>4 роки, хлопчик</p>
          </div>
          <p><span class="modal-txt">Опис:</span> <br /></p>
          <p><span class="modal-txt">Здоров'я:</span> <br /></p>
          <p><span class="modal-txt">Поведінка:</span> <br /></p>
          <button type="button" class="showmore-btn take-home-btn">
            Взяти додому
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
