<section class="pets-list">
  <div class="container section-pets">
    <h2 class="pets-title">Наші хвостики</h2>
    <p class="pets-descr">Вони дуже чекають на знайомство з вами</p>
    <nav class="category-nav">
      <button class="category-item active" data-category="Всі">Всі</button>
      <button class="category-item" data-category="Собаки">Собаки</button>
      <button class="category-item" data-category="Коти">Коти</button>
      <button class="category-item" data-category="Кролики">Кролики</button>
      <button class="category-item" data-category="Гризуни">Гризуни</button>
      <button class="category-item" data-category="Птахи">Птахи</button>
      <button
        class="category-item"
        data-category="Тварини з особливими потребами"
      >
        Тварини з особливими потребами
      </button>

      <button class="category-item" data-category="Терміново шукають дім">
        Терміново шукають дім
      </button>
    </nav>

    <div class="gallery"></div>

    <button class="showmore-btn">Показати більше</button>
  </div>
</section>
