<section class="stories" id="stories">
  <div class="container">
    <div class="headers-comment">
      <h2>Щасливі історії, що надихають</h2>
      <h3>
        Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
      </h3>
    </div>

    <!-- Swiper контейнер -->
    <div class="swiper stories-swiper">
      <div class="swiper-wrapper"></div>
      <div class="navigation-wrapper-comment">
        <button class="button-stories-next"></button>
        <button class="button-stories-prev"></button>
        <div class="swiper-pagination stories-pagination"></div>
      </div>
    </div>
  </div>
</section>
