:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  --fn-fm-sc: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color: #02060a;
  background: #f6f4f1;
  --el-bg-cl: #eee9e3;
  --btn-cl: #88765c;
  --ft-bg-cl: #c3b49d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
