.footer {
  text-align: center;
  background-color: #c3b49d;
  padding: 48px 0;
  width: 100%;
  height: 619px;
}
@media only screen and (min-width: 768px) {
  .footer {
    height: 469px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    height: 507px;
    padding: 64px 0;
  }
}
.footer-logo {
  width: 302px;
  height: 129px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.footer-img-logo {
  width: 100%;
  height: 100%;
  transform: scale(0.75);
}
@media only screen and (min-width: 375px) {
  .footer-img-logo {
    transform: scale(1);
  }
}
.footer-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.footer-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-menu-list {
    flex-direction: row;
  }
}

.footer-menu-item {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #02060a;
}
.social-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 80px;
}
.line-footer {
  height: 1px;
  background-color: rgba(2, 6, 10, 0.15);
  margin: 0 auto;
  max-width: 335px;
}
@media only screen and (min-width: 768px) {
  .line-footer {
    max-width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .line-footer {
    max-width: 1312px;
  }
}
.footer-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  color: #02060a;
  margin: 30px 0px;
}
@media only screen and (min-width: 768px) {
  .footer-text {
    margin: 32px 0px;
  }
}
