.section-pets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 64px 20px 32px;
}

.pets-title {
  font-family: var(--fn-fm-sc);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 16px;
}

.pets-descr {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #02060a;
  margin-bottom: 32px;
}

.category-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 335px;
  margin-bottom: 32px;
}

.category-item {
  padding: 10px 16px;
  cursor: pointer;

  background-color: transparent;
  border: none;
}

.showmore-btn {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  background: #88765c;
  margin-top: 40px;

  font-size: 14px;
  color: #fff;
}

.showmore-btn:hover,
.showmore-btn:focus {
  background: #eee9e3;
  color: #02060a;
}

@media only screen and (max-width: 374px) {
  .showmore-btn {
    max-width: 335px;
  }
  .showmore-btn {
    max-width: 192px;
    font-size: 16px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 375px) {
  .showmore-btn {
    width: 335px;
  }

  .pets-descr {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .section-pets {
    padding: 64px 20px 32px;
  }

  .category-nav {
    max-width: 579px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-pets {
    padding: 80px 64px 32px;
  }

  .pets-title {
    font-size: 48px;
  }

  .pets-descr {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
  }

  .category-nav {
    flex-wrap: nowrap;
    max-width: 975px;
    margin-bottom: 40px;
  }

  .showmore-btn {
    width: 192px;
    font-size: 16px;
    margin-top: 40px;
  }
}

.active-category {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 16px;
  background: #eee9e3;
}

/* #region Gallery */
.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  border-radius: 16px;
  padding: 12px;
  background: #eee9e3;
  height: -webkit-fill-available;
}

.pet-card-image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.pet-card-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.pet-card-type {
  font-size: 10px;
}
.pet-card-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #02060a;
}

.pet-category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.pet-category {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 4px 10px;
  background: rgba(2, 6, 10, 0.05);

  display: inline-block;
  width: auto;
  align-self: flex-start;

  font-weight: 600;
  font-size: 10px;
}

.pet-card-age {
  font-size: 10px;
}
.pet-card-gender {
  font-size: 10px;
}

.pet-card-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
}
.pet-card-desc {
  font-size: 12px;
}
.pet-card-btn {
  border: 1px solid #02060a;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 14px;
}

.pet-card-btn:hover,
.pet-card-btn:focus {
  background: #c3b49d;
}

@media only screen and (min-width: 768px) {
  .pet-card {
    width: 336px;
  }
  .pet-card-btn {
    width: 312px;
  }
}

@media only screen and (min-width: 1440px) {
  .pet-card {
    width: 416px;
  }
  .pet-card-type {
    font-size: 12px;
  }
  .pet-card-name {
    font-size: 24px;
  }
  .pet-category {
    font-size: 12px;
  }
  .pet-card-age {
    font-size: 12px;
  }
  .pet-card-gender {
    font-size: 12px;
  }
  .pet-card-desc {
    font-size: 14px;
  }
  .pet-card-btn {
    font-size: 16px;
    width: 392px;
  }
}

/* #endregion */
