.about,
.hero-section,
.faq,
.pets-list,
.stories,
.header,
.footer {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 374.98px) {
  .about,
  .faq,
  .hero-section {
    display: inherit;
  }

  .footer {
    display: block;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768.98px) {
  .about,
  .faq,
  .hero-section {
    display: inherit;
  }
  .footer {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439.98px) {
  .about,
  .faq {
    display: inherit;
  }
}

@media only screen and (min-width: 1440px) {
  .about,
  .faq {
    display: inherit;
  }
}

.about,
/* .hero, */
/* .petslist, */
/* .stories, */
/* .header, */
/* .footer, */
.faq {
  display: inherit;
}
